@model FUMETTERIA_CAP2._0.Models.User

@{
    ViewBag.Title = "Login";
}
<h2 class="text-center bold-text ">BENVENUTO SU TUTTOMANGA</h2>



<section>
    <div class="container py-5 ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8 col-lg-6">
                <div class="card color" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">

                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                        <p class="text-dark-50 mb-4 bold-text">Prego inserire Username e password!</p>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group  d-flex flex-column justify-content-center align-items-center  mb-4">
                                @Html.LabelFor(model => model.username, new { @class = "control-label bold-text" })
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control  " } })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group  d-flex flex-column justify-content-center align-items-center  mb-4">
                                @Html.LabelFor(model => model.password, new { @class = "control-label bold-text" })
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>

                            <button class="btn btn-outline-dark btn-lg px-4" type="submit">Login</button>
                        }

                        <p class="small mb-4"> password dimenticata?</p>
                        <div>
                            @Html.ActionLink("se non hai un account registrati", "Registrazione", "Login", null, new { @class = "text-primary bold-text " })
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    @Html.ActionLink("torna alla pagina principale", "Index", "Principale", null, new { @class = "text-primary bold-text " })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
